html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 16px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.App {
  height: 350vh;
  width: 100vw;
  background-color: #001E31;
}

header {
  width: 100vw;
  height: 8vh;
  background-color:#0B293C;
  display: flex;
  position: fixed;
  z-index: 5;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.025rem;
  font-weight: 600;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
}

.logoWord:hover {
  text-decoration: none;
}

.topNavBtns,
.logOutContainer {
  color: white;
  display: flex;
  align-items: center;
}

.topNavBtns button,
.logOutContainer button {
  padding: 1rem 1.75rem;
  border-radius: 2rem;
  border: none;
  letter-spacing: 0.025rem;
  cursor: pointer;
  font-weight: 600;
}

.signUpBtn {
  background-color: #001E31;
  border: 1px solid #001E31;
  margin-right: 1rem;
  color: white; 
}

.signUpBtn:hover {
  border: 0.5px solid white;
}

.logInBtn, .logOutBtn {
  background-color: #D3CFE6;
  border: 1px solid #D3CFE6;
  color: #001E31;
  transition: all 0.25s;
}

.logInBtn:hover,
.logOutBtn:hover {
  background-color: #b6afe0;
}

.logInBtn:active,
.logOutBtn:active {
  background-color: #D3CFE6;
}

.logOutBtn {
  margin-left: 2rem;
}

.logOutContainer p {
  color: grey;
  font-size: 0.9rem;
}

.sidebar {
  width: 400px;
  height: 92vh;
  background-color: #C2EDD8;
  position: fixed;
  top: 8vh;
  z-index: 1;
  padding: 0 3.75rem;
  padding-top: 3rem;
  color: #001E31;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

h1 {
  font-weight: 500;
  font-size: 1.75rem;
  padding-bottom: 0.75rem;
  font-family: 'Raleway', sans-serif;
}

.sidebar label {
  margin-bottom: 0.5rem;
}

.sidebar input {
  padding: 1rem 0 1rem 0.5rem;
  background-color: #001E31;
  border: none;
  color: white;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/*This code is to hide the default arrows in the number input. When hidding, you can use your own arrows from font-awesome.
*/

select {
  padding: 1rem 0 1rem 0.5rem;
  background-color: #001E31;
  border: none;
  color: white;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.sidebarNav button {
  background-color: #D3CFE6;
  color: #001E31;
  border: none;
  padding: 1rem 1.25rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1.5rem;
  letter-spacing: 0.1rem;
  position: relative;
  z-index: 15;
  font-weight: 600;
}

.sidebarNav button:hover {
  background-color: #b6afe0;
}

.sidebarNav button:active {
  background-color: #D3CFE6;
}

.sidebarImg {
  position: absolute;
  z-index: 10;
  bottom: 8vh;
  left: -3%;
  transform: rotate(5deg);
  width: 105%;
}

.playlistContainer  {
  padding-top: 13vh;
  margin-left: 350px;
}

footer {
  position: fixed;
  bottom: 1%;
  z-index: 5;
  width: 400px;
  padding: 0 3.75rem;
  font-size: 0.7rem;
  color: #001E31;

}

.juno, .copyright {
  font-size: 0.65rem;
  padding-bottom: 0.15rem;
}

.podcastContainer {
  margin: 1.5rem auto;
  background-color: #0B293C;
  border-radius: 15px;
  display: flex;
  padding: 1.5rem;
  width: 1000px;
  cursor: pointer;
}

.podcastCoverContainer {
  height: 200px;
  width: 200px;
}

.podcastCover {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.podcastInfoContainer {
  height: 200px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2rem;
  color: rgb(226, 226, 226);
}

.podcastInfoTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podcastInfoTopLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playBtnContainer a {
  text-decoration: none;
}

.playBtn {
  background-color: #C2EDD8;
  border: none;
  color: #001E31;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcastTitle {
  padding-right: 1rem;
  letter-spacing: 0.025rem;
}

.podcastAuthor {
  color: grey;
  font-size: 0.9rem;
}

.podcastDescription {
  color: rgb(189, 189, 189);
  padding-top: 0.25rem;
  width: 90%;
}

.podcastLength {
  display: flex;
  padding-top: 1rem;
  color: grey;
  font-size: 0.9rem;
}

h2 {
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
}

.faDragIcon {
  align-self: flex-start;
  color: #C2EDD8;
  cursor: pointer;
}

.playlistHeader {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-content: center;
}

.playlistHeader h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.025rem;
  margin-left: 2rem;
}

.savePlaylistContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.favouriteIcon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #C2EDD8;
  margin-left: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001223;
  cursor: pointer;
  font-size: 1.25rem;
}

.landingPageContainer {
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
}

.landingPageImg {
  width: 60%;
}

.welcome {
  font-size: 3rem;
  padding: 1rem 0;
}

.info {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 5rem;
}

.spinnerContainer {
  width: calc(100vw - 400px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
  margin-left: 400px;
  position: fixed;
}

.spinner {
  border: 25px solid black;
  border-radius: 50%;
  border-top: 25px solid #C2EDD8;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

.loadingText {
  font-size: 1rem;
  padding-top: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.playlistNameShuffle {
  display: flex;
  align-items: center;
}

.faShuffleBtn {
  background-color: #001E31;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.faShuffleIcon {
  color: #C2EDD8;
  font-size: 1.5rem;
}

audio {
  all: revert;
  height: 2rem;
  position: relative;
  z-index: 0;
  width: 100%;
}

.errorMsg {
  width: calc(100vw - 400px);
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  font-size: 1rem;
  padding: 3.2rem 0 0 3.2rem;
}

.errorBorder{
  border: 3px solid rgb(252, 3, 3);
  border-radius: 8px;
}

.signUpLink {
  color: white;
  text-decoration: none;
}

.logInLink {
  color: #001e31;
  text-decoration: none;
}

.savePlaylistLink {
  text-decoration: none;
}

.formContainer {
  width: 450px;
  padding: 3rem 2rem;
  border-radius: 6px;
  background-color: #0B293C;
  margin-top: 5rem;
}

.formContainer h2 {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

form input {
  border-radius: 4px;
  border: none;
  padding: 1.2rem 0.8rem;
  background-color: #001E31;
  color: white;
}

form input::placeholder {
  color: grey;
  letter-spacing: 0.04rem;
}

.passwordContainer, .confirmPasswordContainer {
  margin-top: 1.5rem;
}

.passwordContainer input,
.confirmPasswordContainer input {
  border-radius: 4px 0 0 4px;
}

.passwordContainer, .confirmPasswordContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #001E31;
  border-radius: 4px;
}

.signUpPassword, .signUpConfirmPassword {
  width: 400px;
}

.faVisible {
  width: 50px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C2EDD8;
  padding: 1.125rem;
  cursor: pointer;
}

.formPage {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

form button {
  margin: 1rem 0;
  padding: 1.2rem 0;
  background-color: #D3CFE6;
  color: #001E31;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.25s;
}

.formContainer p {
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
}

.homeLink {
  font-size: 0.7rem;
  margin-top: 2rem;
  cursor: pointer;
  color: grey;
}

.logInFormBtn {
  margin-top: 1rem;
}

.logInFormBtn:hover, .signUpFormBtn:hover {
  background-color: #b6afe0;
}

.logInFormBtn:active, .signUpFormBtn:active {
  background-color: #D3CFE6;
}

.logInLogoContainer {
  height: 8vh;
  width: 100vw;
  background-color: #0B293C;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 3.5rem;
}

.returnHome {
  color: rgb(160, 160, 160);
  text-decoration: none;
  transition: all 0.25s;
}

.returnHome:hover {
  text-decoration: underline;
}

.linkToLogIn, .linkToSignUp {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s;
}

.linkToLogIn:hover, .linkToSignUp:hover {
  text-decoration: underline;
}

.errorIcon {
  color: white;
  font-size: 5rem;
  padding-bottom: 1rem;
}

.formErrorMsg {
  padding: 2rem 0 1rem;
  color: grey;
}

.faUser, .faYourPlaylist {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.logOutContainer {
  width: calc(100vw - 520px);
  display: flex;
  justify-content: space-between;
}

.logOutUserContainer, .yourPlaylistContainer {
  display: flex;
  align-items: center;
}

.yourPlaylistLink {
  cursor: pointer;
  transition: all 0.25s;
}

.yourPlaylistLink p:hover {
  color: white;
}
